backports-abc==0.5
backports.functools-lru-cache==1.5
caniusepython3==7.2.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
distlib==0.3.0
functools32==3.2.3.post2
futures==3.2.0
idna==2.9
kiwisolver==1.0.1
matplotlib==2.2.3
mkl-fft==1.0.6
numpy==1.15.4
packaging==20.4
pandas==0.23.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.23.0
singledispatch==3.4.0.3
six==1.12.0
TBB==0.1
tornado==5.1.1
urllib3==1.25.9
wincertstore==0.2
wxPython==4.0.3
